﻿extends layout
block content
    p Add a new chat room.

    form(method='post')
        fieldset.form-group
            label(for='name') Name:
            input.form-control(name='name', type='text', placeholder='Enter a name')
            small.text-muted Give your chat room a meaningful name.
        fieldset.form-group
            label(for='email') Email:
            input.form-control(name='email', type='email', placeholder='Enter an email address')
            small.text-muted This is the email address associated with your account.
        button.btn.btn-primary(type='submit') Add
        a.btn.btn-danger(href='room') Cancel