﻿extends layout
block content
    p Edit chat room.

    form(method='post')
        fieldset.form-group
            label(for='email') Email:
            input.form-control(name='email', type='email', placeholder='Enter an email address' value='#{data.email}')
            small.text-muted This is the email address associated with your account.
        button.btn.btn-primary(type='submit') Save
        a.btn.btn-danger(href='room') Cancel