﻿doctype html
html
  head
    title= title
    link(href='./css/bootstrap.min.css', rel='stylesheet', type='text/css')
  body
    nav.navbar.navbar-default
      .container
        ul.nav.navbar-nav
          li
            a(href='index') Home
          li
            a(href='room') Chat Room
          li
            a(href='add') Add Chat Room
    .container
      block content 
