﻿extends layout
block content
    p This is the chat room.
    a.btn.btn-primary(href='/add') Create a new chat room
    table.table.table-striped
        thead
            tr
                th
                th Name
                th Email
                th
        tbody
            each i in tableData
                tr
                    td
                        a(href='delete/#{i.id}')
                            span.glyphicon.glyphicon-remove
                    td= i.name
                    td= i.email
                    td
                        a(href='edit/#{i.id}')
                            span.glyphicon.glyphicon-pencil